DATABASE_URL=postgresql://username:password@localhost:5432/freight_solution
SECRET_KEY_BASE=your_rails_secret_key_base
CLOUDINARY_CLOUD_NAME=dvrtlutgi
CLOUDINARY_API_KEY=232871654938575
CLOUDINARY_API_SECRET=cX6ZrnGSyBt3zhNzEEhNJYi8Qas
